/* Modal for Shell Selection */
ModalScreen{
    align:center middle;
}

#modal-shell-vert {
    width: 20%;
    height: 35%;
    align:center middle;
    background: $panel;
    border:black thick;
}

#modal-shell-vert > Label {
    width: 1fr;
    content-align:center middle;
}
#modal-shell-vert > Button {
    width: 1fr ;
    height: auto ;
    margin: 1 1 1 1;
    content-align:center middle;
}
