#app-grid {
    layout: grid;
    grid-size: 2;  /* two columns */
    grid-columns: 1fr;
    grid-rows: 1fr;
}

#file-selector {
    width: 100%;
    height: 100%;
    row-span: 2;
    background: $panel;
    border: dodgerblue;
}

ListView {
    height: auto;
    padding-bottom: 1;
}

ListItem {
    height: auto;
    padding: 1;
}

CollapsibleTitle {
    width: 1fr;
    height: 3;
    background: $boost;
    content-align: center middle;
}



#file-preview  {
    width: auto;
    background: $panel;
    border: mediumvioletred;
    height: 100%;
    margin-right: 0;
    background: $boost;
}


#interaction {
    height: 100%;
    layout: grid;
    grid-size: 3;
    grid-columns: 1fr;
    grid-rows: 1fr;
    grid-gutter: 2;
    background: $panel;
    border: greenyellow;
}

#bottom-right-final {
    height: auto;
    width: 1fr;
    column-span: 3;
}

#interaction > Button {
    height: 100%;
    width: 1fr;
    margin: 2 2 2 2;
    background: rgb(197, 138, 27);
}

Header {
    height: 5%;
    background: $panel;
}

Footer {
    height: 5%;
    background: $panel;
}
